* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.text {
  color: green;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 165px;
  background: url(./assets/bgWall.svg) no-repeat right top;
  background-color: #1c1941;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menus {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menus a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.menus a:hover {
  color: #b3b3b3;
}

.button {
  width: 130px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: transparent;
  margin-left: 50px;
}

.button:hover {
  background-color: #fff;
  color: blue;
}

.main {
  display: flex;
  align-items: center;
  margin-top: 111px;
  margin-bottom: 233px;
  background-position: top;
}

.info h1 {
  width: 500px;
  height: 180px;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}

.info p {
  width: 380px;
  height: 72px;
  font-size: 16px;
  line-height: 24px;
  color: #b3b3b3;
  margin-bottom: 60px;
}

.info button {
  width: 200px;
  height: 60px;
  border-radius: 10px;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  background: linear-gradient(135deg, #40DDFF 0%, #14BAE3 19.24%, #13B1E6 68.64%, #11AADF 81.77%, #0B98C5 100%);
  font-weight: 500;
  transition: all 0.3s;
  font-size: 14px;
  line-height: 21px;
}

.info button:hover {
  background: linear-gradient(135deg, #3a889a 0%, #37c2e4 19.24%, #3d8ca6 68.64%, #11AADF 81.77%, #3b9fc0 100%);
}